/* Week Four: Simple Group Website */
/* Lauren Banawa, Justin Hickman, Alli Adolphson */
/*ICT 4505 Web Design & Management */
/* CSS File */

html {
	background-color: #84A9AC;
	padding-top: 32px;
	padding-bottom: 32px;
}
header {
	text-align: center;
	margin-top: 20px;
	font-family: 'Shrikhand', cursive;
}
.title {
	font-family: 'Fanwood Text', serif;
	font-size: 16px;
	text-align: center;
	margin-top: 3px;
}
#article {
	background-color: #E7DFD5;
	max-width: 825px;
	margin-right: auto;
	margin-left: auto;
	padding: 8px;
}
h1 {
	color: #3B6978;
	font-family: 'Shrikhand', cursive;
	font-size: 3.2rem;
	line-height: 119%;
	margin-bottom: 8px;
}
h2 {
	margin-left: 50px;
	margin-top:20px;
	margin-bottom: 20px;
	color: #3B6978;
	font-family: 'Shrikhand', cursive;
    font-size: 2em;
}
h3 {
	margin-left: 50px;
	margin-top:20px;
	margin-bottom: 20px;
	color: #3B6978;
	font-family: 'Shrikhand', cursive;
    font-size: 1.5rem;
}
.signoff {
	text-align: right;
	margin-right: 50px;
	color: #3B6978;
	font-family: 'Shrikhand', cursive;
    font-size: 2em;
}
.signature {
	text-align: right;
	margin-right: 50px;
	margin-top:20px;
	margin-bottom: 20px;
	color: #3B6978;
	font-family: 'Sacramento', cursive;
	font-size: 3rem;
	font-style: bold;
}
p {
	text-align: justify;
	margin-left: 50px;
	margin-right: 50px;
	color: #204051;
	font-family: 'Fanwood Text', serif;
    font-size: 1.2rem;
}
.reference {
	text-align: left;
	text-indent: -4em;
	margin-left: 115px;
	font-family: 'Fanwood Text', serif;
    font-size: 1rem;
}
.gallery {
    margin: 0 auto;
    width: 90%;
}
.about_img {
    width: 80%;
}
.w3-bar {
	font-family: 'Fanwood Text', serif;
	font-size: 1.25rem;
	color: #84A9AC;
	background-color: #3B6978;
	line-height: 230%;
}
.w3-bar-item {
	font-family: 'Fanwood Text', serif;
	font-size: 1.3rem;
}
a {
	color: #84A9AC;
}
a:visited {
	color: #84A9AC;
}
a:hover{
	color: #E7DFD5;
	background-color: #204051;
	border-bottom-color: #204051;
}
.navbar-brand {
	background-color: #3B6978;
}
.ml-auto {
	background-color: #3B6978;
}
a:visited {
	color: #84A9AC;
}
a.w3-button:hover{
	color: #E7DFD5 !important;
	background-color: #204051 !important;
	border-bottom-color: #204051;
}
.gallery{
	background-color: #E7DFD5;
	padding: 16px 32px 16px 32px;
	border-style: double;
	border-color: #204051;
}
.w3-card {
	background-color: #E7DFD5;
	border-color: #204051;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.w3-container h4 {
	color: #204051;
	font-family: 'Fanwood Text', serif;
	font-size: .85rem;
}
.w3-container {
	background-color: #84A9AC;
}
.w3-third {
	padding: 4px 4px 4px 4px;
}